#hoursWrapper {
    background: rgb(221, 218, 218);
    width: 95%;
    margin: 0 auto;
    height: auto;
    border-radius:  1.5em;
    color: #000;
    div{
        padding: 2em 2em;
    }
}
#arrow {
    display: block;
    position: absolute;
    z-index: 999;
    
    img {
        width: 50%;
        
    }
}

.today {
    font-weight: 900;
    background: #000;
    color: #eee;
    &:hover {
       background-color: rgba(0, 0, 0, 1);

    }
}

.card-img-top {
    height: 15rem;
}