<div class="routeContainer">

  <div class="row">
    <!-- Version 2 may use https://github.com/ariutta/svg-pan-zoom#demos for responsive issue fix  -->
    <div class="col-md-6">
      <ngx-imageviewer [src]=fullLowerLevel></ngx-imageviewer>
      <h2 class="animated bounceIn text-center mt-5">Lower Level and 1st Floor</h2>
    </div>
    <div class="col-md-6">
      <ngx-imageviewer [src]=full2nd3rd></ngx-imageviewer>
      <h2 class="animated bounceIn text-center mt-5">2nd and 3rd Floor</h2>
    </div>

</div>
</div>