<div class="routeContainer">

  <div class="row">


    <pinch-zoom class="col-md-6">
      <img src="/assets/images/buildingMaps/Waldo map 2018-08 floorsLL-1-b.png">
    </pinch-zoom>

    <pinch-zoom class="col-md-6">
      <img src="/assets/images/buildingMaps/Waldo Map 2018 08 floors2,3.png">
    </pinch-zoom>  

    <!-- Version 2 may use https://github.com/ariutta/svg-pan-zoom#demos for responsive issue fix  -->
    <!-- <div class="col-md-12 col-xs-12 col-lg-6 col-sm-12 leftSideImage">
       <ngx-imageviewer [src]=fullLowerLevel></ngx-imageviewer> 
      <img #img1 [src]=fullLowerLevel width="100%">
      <h2 class="animated bounceIn text-center mt-5 mb-5">Lower Level and 1st Floor</h2>
    </div>
    <div class="col-md-12 col-xs-12 col-lg-6 col-sm-12 rightSideImage">
     <ngx-imageviewer [src]=full2nd3rd></ngx-imageviewer> 
      <img #img2 [src]=full2nd3rd width="100%">
      <h2 class="animated bounceIn text-center mt-5 mb-5">2nd and 3rd Floor</h2>
    </div> -->

    <!-- <div class="col-md-6 col-xs-12"> -->
    <!-- Map 1 -->
    <!-- <object id="map1" data="/assets/images/buildingMaps/Waldo map 2018-08 floorsLL-1-b.png" type="image/svg+xml"></object> -->
    <!-- </div> -->
    <!-- <div class="col-md-6 col-xs-12"> -->
    <!-- Map 2 -->
    <!-- <object id="map2" data="/assets/images/buildingMaps/Waldo Map 2018 08 floors2,3.png" type="image/svg+xml"></object> -->
    <!-- </div> -->
  </div>
</div>