<div class="routeContainer" (swiperight)="backToHome()">
  <div class="row">

    <div class="col-lg-2">

      <!-- <h1 class="">Computers</h1> -->
      <small>Touch to view available computers</small>

      <table class="table table-hover table-responsive">
        <tbody>
          <tr id="firstFloorTab" (tap)="changeMapView(1)" class="leftTabs">
            <td><h4>1<sup>st</sup> Floor</h4></td>
            <td><h4><span class="badge badge-primary badge-pill">{{ firstFloorComputers?.Available }}/{{ firstFloorComputers?.Total }}</span></h4>
            </td>
          </tr>
          <tr id="secondFloorTab" (tap)="changeMapView(2)" class="leftTabs">
            <td>
              <h4>2<sup>nd</sup> Floor</h4>
            </td>
            <td>
              <h4><span class="badge badge-primary badge-pill">{{ secondFloorComputers?.Available }}/{{ secondFloorComputers?.Total }}</span></h4>
            </td>
          </tr>
          <tr id="thirdFloorTab" (tap)="changeMapView(3)" class="leftTabs">
            <td>
              <h4>3<sup>rd</sup> Floor</h4>
            </td>
            <td>
              <h4><span class="badge badge-primary badge-pill">{{ thirdFloorComputers?.Available }}/{{ thirdFloorComputers?.Total }}</span></h4>
            </td>
          </tr>
          <tr id="lowerFloorTab" (tap)="changeMapView(0)" class="leftTabs">
            <td>
              <h4>Lower Level</h4>
            </td>
            <td>
              <h4><span class="badge badge-primary badge-pill">{{ lowerLevelComputers?.Available }}/{{lowerLevelComputers?.Total }}</span></h4>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-responsive">
        <thead>
          <tr>
            <th style="border-top: 0px;">Color Legend</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="icon icon1"></td>
            <td>In Use</td>
          </tr>
          <tr>
            <td class="icon icon2"></td>
            <td>Powered On</td>
          </tr>
          <tr>
            <td class="icon icon3"></td>
            <td>Offline</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-10">
      <div id="targetMap">
        <iframe id="floor1Map" class="d-none labmap" src="//ikiosk.library.wmich.edu/_floor1.html" frameborder="0"></iframe>
        <iframe id="floor0Map" class="d-none labmap" src="//ikiosk.library.wmich.edu/_floor0.html" frameborder="0"></iframe>
        <iframe id="floor2Map" class="d-none labmap" src="//ikiosk.library.wmich.edu/_floor2.html" frameborder="0"></iframe>
        <iframe id="floor3Map" class="d-none labmap" src="//ikiosk.library.wmich.edu/_floor3.html" frameborder="0"></iframe>
      </div>
    </div>

  </div>

</div>