<div class="container-fluid">
  <!-- <div id="mainContent" [@fadeAnimation]="o.isActivated ? o.activatedRoute: ''" class="row"> -->
    <div id="mainContent" [className]="'row'">
<router-outlet #o="outlet" (messageEvent)="receiveMessage($event)"></router-outlet>
  </div>
  
</div>

<footer [className]="'fixed-bottom '">
  <div class="container-fluid">
    <img class="logo" [src]="logoURL" alt="Western Michigan University Libraries">
    <img class="homeButton" [src]="homeButtonURL" alt="Home" routerLink="index">
   <div class="timeContainer" style="position: relative;float: right;"> <p style="margin-bottom: 0px;">{{ formattedTime }}</p> <p>{{ formattedDate }}</p></div>
   
  </div>
</footer>

