@import "~include-media/dist/_include-media.scss";

#primary {
    header {
        padding-top: 1em;
        /* text-align: center; */
        /* align-content: center; */
        /* align-items: center; */
        /* text-align: center; */
        /* align-items: center; */
        /* margin: 0 auto; */
        vertical-align: middle; // display: flex;
        /* justify-content: center; */
        /* cursor: pointer; */
    }
}

// header {
//     width: 100%;
//     height: auto;
// }
// @media (max-width: 1024px)  {
//     #mainContent {
//         margin-top: 0px !important;
//     }
// }
#mainContent {
    margin-top: 2em;
}

footer {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0 0px rgba(255, 255, 255, 0.2), inset 0 -35px 11px rgba(0, 0, 0, 0.4), 0 -1px 12px rgba(0, 0, 0, 0.5);
    .container-fluid {
        img.homeButton {
            height: 40px;
            border-radius: 50%;
            // background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #fff;
            padding: 10px;
            outline: 0;
        }
        img.logo {
            position: relative;
            right: 0;
            bottom: 4px;
            float: left;
            width: 50px;
            padding: 0px;
        }
    }
}