<div class="routeContainer" (swiperight)="backToHome()">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mb-2" *ngFor="let newsItem of newsFeed; let i = index">
        <!-- <div class="card">
          <h5 class="card-header">{{ newsItem.title}}</h5>
          <div class="card-body">
             <h5 class="card-title">Special title treatment</h5> -->
            <!-- <p class="card-text" [innerText]="newsItem.content | slice:0:1000"></p> 
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> -->
        <ul class="list-group">
           
          <!-- <li class="list-group-item d-flex align-items-left" *ngIf="i<=6"> -->
              <li class="list-group-item d-flex align-items-left" (tap)="loadNewsItem(newsItem.id)"> 
                  
              <span class="mr-4"><img class="img-fluid rounded" [src]="newsItem.author.image.url"></span>
           <p class="font-weight-bold">{{ newsItem.title }}</p>
            
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>