<div class="routeContainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mb-2" *ngFor="let newsItem of newsFeed; let i = index">
        <ul class="list-group">
              <li class="list-group-item d-flex align-items-left animated bounceInDown" (tap)="loadNewsItem(newsItem.id)">   
              <span class="mr-4"><img class="img-fluid rounded" [src]="newsItem.author.image.url"></span>
              <p class="font-weight-bold">{{ newsItem.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>