<div class="routeContainer">
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mb-2" *ngFor="let newsItem of newsFeed; let i = index">
        <ul class="list-group">
              <li class="list-group-item d-flex align-items-left animated bounceInDown" (tap)="loadNewsItem(newsItem.id)">   
              <span class="mr-4"><img class="img-fluid rounded" [src]="newsItem.author.image.url"></span>
              <p class="font-weight-bold">{{ newsItem.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
    <div class="row mt-2">
    
      <div class="col-md-12">
        <div class="row grid">
          <div class="col-md-3 mb-3 gridParent" *ngFor="let newsItem of newsFeed; let i = index">
            <div [class]="'eventGrid grid'+i" (tap)="loadNewsItem(newsItem.id)">
              <div class="overlay"></div>
              <h4 class="text-center" style="font-size: 1.3rem;font-weight: 600;">{{ newsItem.title }}</h4>
              <p class="text-strong">{{ newsItem.published | dstDate:'mediumDate' }}</p>  
            </div>
    
          </div>
        </div>
    
      </div>
    
    
    
    </div>
</div>