<div class="flex-grid">
  <div class="col kioskGrid clockGrid">
<canvas (click)="linkToComponent('hours')" #clock></canvas>
<p class="kioskGridText">{{ gridText[0] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <div (click)="linkToComponent('computers')">
    <i class="fa fa-desktop"></i>
      </div>
    <p class="kioskGridText">{{ gridText[1] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <div (click)="linkToComponent('building-map')">
            <i class="fa fa-map"></i>
        </div>
        <p class="kioskGridText">{{ gridText[2] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <div (click)="linkToComponent('news')">
              <i class="fa fa-newspaper-o"></i>
        </div>
        <p class="kioskGridText">{{ gridText[3] | uppercase }}</p>
  </div>

</div>
<div class="flex-grid">
<div class="col kioskGrid">
      <div (click)="linkToComponent('news')">
            <i class="fa fa-automobile"></i>
      </div>
      <p class="kioskGridText">{{ gridText[4] | uppercase }}</p>
</div>
<div class="col kioskGrid">
      <div (click)="linkToComponent('news')">
            <i class="fa fa-server"></i>
      </div>
      <p class="kioskGridText">{{ gridText[5] | uppercase }}</p>
</div>
<div class="col kioskGrid">
      <div (click)="linkToComponent('news')">
            <i class="fa fa-wifi"></i>
      </div>
      <p class="kioskGridText">{{ gridText[6] | uppercase }}</p>
</div>
<div class="col kioskGrid">
      <div (click)="linkToComponent('news')">
            <i class="fa fa-id-card"></i>
      </div>
      <p class="kioskGridText">{{ gridText[7] | uppercase }}</p>
</div>
</div>
