<div class="flex-grid">
  <div class="col kioskGrid clockGrid">
<canvas (click)="linkToHoursComponent()" id="clock" width="250" height="250" style="cursor: pointer; box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%; background: rgba(0,0,0,0.8);"></canvas>
<p class="kioskGridText">{{ gridText[0] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
    <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
    <p class="kioskGridText">{{ gridText[1] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[2] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[3] | uppercase }}</p>
  </div>

</div>
<div class="flex-grid">
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[0] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[1] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[2] | uppercase }}</p>
  </div>
  <div class="col kioskGrid">
        <img style="box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8); border-radius: 10%;" src="//placehold.it/250x250" alt="">
        <p class="kioskGridText">{{ gridText[1] | uppercase }}</p>
  </div>
</div>
